.header{
    border: 1px solid black;
    height: 100px;
}

.nav{
    border: 1px solid black;
    height: 20px;
}

.main{
    border: 1px solid black;
    height: 600px;
    max-width: 1000px;
    margin: auto;
}

.footer{
    border: 1px solid black;
}

.article{
    border: 1px solid black;
    margin: 20px 20px;
    height: 550px;
}

.aside{
    border: 1px solid black;
    margin: auto 20px;
    margin-top: 450px;
    height: 60px;
    max-width: 1000px;
}